@font-face {
    font-family: 'LINE_Bd';
    src: url("../../assets/fonts/LINESeedKR-Bd.ttf");
}
@font-face {
    font-family: 'LINE_Rg';
    src: url("../../assets/fonts/LINESeedKR-Rg.ttf");
}
@font-face {
    font-family: 'LINE_Th';
    src: url("../../assets/fonts/LINESeedKR-Th.ttf");
}
.sub-one {
    margin-left : 2%;
    width : 500px;
  }

.sub-two {
    position: absolute;
    color: rgb(38, 96, 255);
    margin-left: 48%;
    margin-top: -15%;
    font-size: 2.5rem;
    
}
.sub-three {
    position: absolute;
    margin-left: 48%;
    margin-top: -10%;
    font-size: 2.0rem;
    font-family: "LINE_Bd";
}
.sub-four {
    position: absolute;
    margin-left: 48%;
    margin-top: -6%;
    font-size: 1.2rem;
    font-family: "LINE_Rg";
}
.sub-five {
    position: absolute;
    color: rgb(38, 96, 255);
    margin-left: 48%;
    margin-top: 5%;
    font-size: 1.5rem;
    font-family: "LINE_Rg";
}
.input-value {
    position: absolute;
    margin-left: 32%;
    margin-top: 9%;
    font-size: 1.2rem;
    width : 400px;
    height: 50px;
    border-color: rgb(38, 96, 255);
    border-radius: 20px;
}
.input-button{
    position: absolute;
    margin-left: 44%;
    margin-top: 2%;
    width : 100px;
    border-radius: 10px;
}

.budget{
    width: 32%;
    height: 30%;
    font-size: 23px;
    text-align: center;
    padding-top: 30px;
    margin-left: 42%;
    margin-top : 9%;
    font-family: "LINE_Rg";
    text-align: left;
}
