@font-face {
    font-family: 'LINE_Bd';
    src: url("../../assets/fonts/LINESeedKR-Bd.ttf");
}
@font-face {
    font-family: 'LINE_Rg';
    src: url("../../assets/fonts/LINESeedKR-Rg.ttf");
}
@font-face {
    font-family: 'LINE_Th';
    src: url("../../assets/fonts/LINESeedKR-Th.ttf");
}

.intro{
    position: relative;
    top: 100%;
    height: 420px;
    margin-top : 5%;
    
}

.main-image{
    width : 423px;
    height: 328px;
    margin-left: 58%;
    margin-top: 5%;
}

.main-one{
    font-family: "LINE_Rg";
    position: absolute;
    left: 28%;
    top: 10%;
    font-size: 1.4rem;
}

.main-two{
    font-family: "LINE_Bd";
    position: absolute;
    color: rgb(38, 96, 255);
    left: 20%;
    top: 23%;
    line-height: 5%;
    font-size: 2.9rem;
}
.main-three{
    font-family: "LINE_Bd";
    position: absolute;
    left: 20%;
    top: 30%;
    font-size: 2.9rem;
}
.main-four{
    font-family: "LINE_Rg";
    position: absolute;
    left: 20%;
    top: 63%;
    font-size: 1.3rem;
}
 