.ml{
    margin-top: 12%;
}
Form {
    margin: 0 auto;
    width: 350px;
}
.btn-primary.three{
    border-radius: 12px;
    font-family: "LINE_Bd";
    width: 350px;
    margin-top: 10px;
}
h1{
    height: 80px;
    font-weight: 600;
    font-size: 50px;
    margin-left: 25%;
    color:#2660FF;
}
.mb-4{
    width:350px;
}

